* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #1a0b2e;
}
.color,
.exclusive i {
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
header .header-container {
  width: 75%;
  max-width: 1200px;

  margin: 30px auto 30px;
  display: flex;

  justify-content: space-between;

  align-items: center;
}

header .header-left {
  color: white;
  font-size: 20px;
}
.header-middle ul {
  display: flex;
  gap: 20px;
}
.header-middle li {
  list-style-type: none;
}
.header-middle a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.header-right button {
  width: 135px;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;

  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);

  font-size: 16px;
  padding: 12px 40px 12px 16px;
  border-radius: 25px;
  border: none;
}
.hamberger {
  display: none;
}
.banner {
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1600px;
  margin: 50px auto 30px;

  text-align: center;
}
.banner-content {
  width: 550px;
  margin: 130px auto;
}
.banner-content .image-box {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  text-align: center;
}
.circle {
  width: 100%;
  height: auto;
  border: none;
}
.mic {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-box button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #1effa8;
  border: none;
  padding: 6px 14px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}
.banner-content h3 {
  color: white;
  font-size: 60px;
  font-weight: 600;
  margin-top: 40px;
}
.banner-content p {
  color: white;
  font-size: 16px;
  margin-top: 8px;
}
.banner-content .button-class {
  display: flex;
  gap: 20px;

  align-items: baseline;
}
.banner-content .listen {
  padding: 10px;
  margin-top: 20px;
  color: white;

  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);

  font-size: 16px;

  border-radius: 25px;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.banner-content .subscribe {
  font-size: 16px;
  font-weight: bold;
  color: #00ff88;
  border: 1px solid #00ff88;
  background-color: #1a0b2e;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}
#podcast {
  text-align: center;
}
#podcast .podcast-container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}
#podcast .written-section {
  margin: 30px auto;
  padding: 0px 200px;
}
#podcast .written-section h2 {
  font-size: 48px;
  font-weight: bold;
  color: white;
}
#podcast .written-section p,
.subscriber p {
  font-size: 16px;
  color: #ffffff;
  line-height: 28px;
  color: white;
  margin: 15px auto;
}
.subscriber-details {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 160px;
  margin-bottom: 100px;
}
.subscriber-details .subscriber h1 {
  font-size: 48px;
  color: #00ff88;
}
.subscriber .fa-plus {
  font-size: 30px;
}
.chose-items {
  margin-top: 80px;
  background-color: #230e3d;
  /* margin-bottom: 30px; */
}

.items-container h2 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-top: 50px;
  text-align: center;
}
.item-box div {
  background-color: #351165;
  padding: 40px;
  border-radius: 20px;
}
.mobile {
  grid-area: mobile;
}
.global {
  grid-area: global;
}
.premium {
  grid-area: premium;
}
.exclusive {
  grid-area: exclusive;
}
.rich {
  grid-area: rich;
}

.item-box {
  width: 75%;
  max-width: 1200px;
  margin: 60px auto 0px;
  display: grid;
  gap: 20px;

  grid-template-areas:
    "premium mobile mobile"
    "premium global global"
    "exclusive exclusive rich";
}
.item-box div img {
  width: 60px;
  margin-top: 20px;
}
.item-box div h3,
.video-box h3,
.details h3 {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-top: 16px;
}
.item-box div p,
.video-box p,
.details p {
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
  margin-top: 20px;
}
.item-box div .fa-bolt {
  font-size: 60px;
}
.feature-apisode {
  margin-top: 100px;
}
.feature-video {
  width: 75%;
  max-width: 1200px;
  margin: 100px auto;
}
.feature-video h2,
.meet h2 {
  font-size: 48px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
.video-container {
  margin-top: 20px;
  width: 1200px;
  display: flex;

  gap: 10px;
}

.video-box {
  background-color: #351165;
  width: 380px;
  padding: 15px;
  border-radius: 15px;
}
.video-box iframe {
  width: 350px;
  border-radius: 15px;
  padding: 1px;
}
.clock-image {
  display: flex;

  align-items: baseline;
  gap: 10px;
}
.clock-image img {
  width: 15px;
  height: 15px;
}
.feature-details {
  margin-top: 50px;
  margin-bottom: 50px;
}

.histoty {
  width: 75%;
  max-width: 1200px;
  background-color: #351165;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;

  gap: 30px;
}
.images img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 6px;
  object-fit: contain;
}
.details .images {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}
.footer {
  margin-top: 100px;
  background-image: url("../assets/footer-bg.png");
  background-size: cover;
  border: 2px solid wheat;
  height: 400px;
}
.footer-container {
  width: 610px;
  margin-top: 20px;
  margin: 0 auto;
  text-align: center;
  margin-top: 120px;
}
.footer-container h2 {
  font-size: 60px;
  color: white;
  margin-bottom: 32px;
}
.footer-container div {
  display: flex;
  gap: 10px;
  align-items: last baseline;
}
.footer-container img {
  margin-left: 30px;
  width: 15px;
  height: 15px;
}
.footer-container p {
  font-size: 16px;
  margin-top: 20px;
  color: white;
}
@media screen and (max-width: 576px) {
  header .header-container {
    width: 90%;
  }
    .header-middle {
    display: none;
  }
  .header-right {
    display: none;
  }
  .hamberger {
    display: block;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .banner-content {
    width: 100%;
  }
  .image-box button {
   
    top: 10px;
    right: 10px;
    
}
  .banner-content h3 {
    font-size: 30px;
  }
  .banner-content .button-class {
    justify-content: center;
  }
  #podcast .podcast-container {
    width: 90%;
   
}
#podcast .written-section {
    
    padding:10px;
}
#podcast .written-section {
    margin: 10px auto;
    
}
#podcast .written-section h2 {
    font-size: 20px;
    
}
.subscriber-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.subscriber-details .subscriber h1 {
    font-size: 40px;
    color: #00ff88;
}

.items-container h2 {
    font-size: 25px;
   
    
   
}
 .item-box {
   width: 100%;
   padding: 20px;
    grid-template-areas:
      "premium"
      "mobile"
      "global"
      "exclusive"
      "rich";
  }
.feature-apisode {
    margin-top: 50px;
}
.feature-video {
    width: 100%;
   
}
  .feature-video h2, .meet h2 {
    font-size: 25px;
  
}
  .video-container {
    flex-direction: column;
    width: 100%;
    gap: 15px;
    padding: 20px;
  }
  .feature-details {
    margin-top: 20px;
    margin-bottom: 20px;
}

  .video-box {
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }
  .video-box iframe {
    height: 200px;
  }
   .histoty {
    width: 100%;

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .footer {
    margin-top: 50px;
   
    background-size: auto;
   
}
 .footer-container {
    width:100%;
   
}
.footer-container h2 {
    font-size: 40px;
       margin-top: 50px;
}
  .banner-content .image-box {
    width: 200px;
    height: auto;
  }
  .details .images {
    margin-top: 20px;
    display: flex;
    gap: 30px;
   justify-content: center;
}
  .banner {
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: auto;
  }
 
}
